<%= simple_form_for(renovation) do |f| %>
  <% if renovation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(renovation.errors.count, "error") %> prohibited this renovation from being saved:</h2>

      <ul>
      <% renovation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.association :contract, label_method: :contract_no, value_method: :id, include_blank: false%>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.datetime_select :start_date %>
  </div>

  <div class="field">
    <%= f.label :end_time %>
    <%= f.datetime_select :end_time %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
