<p id="notice"><%= notice %></p>

<p>
  <strong>Contract:</strong>
  <%= @renovation.contract_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @renovation.start_date %>
</p>

<p>
  <strong>End time:</strong>
  <%= @renovation.end_time %>
</p>

<%= link_to 'Edit', edit_renovation_path(@renovation) %> |
<%= link_to 'Back', renovations_path %>
